
numpy
mesh-tensorflow
tensorflow==2.4.2
tokenizers
transformers

tpunicorn
google-auth
google-api-python-client

absl-py
ftfy
jsonlines
lm_dataformat
ortools
pytest
sacred
attrs

opencv-python
Pillow
git+https://github.com/ytdl-org/youtube-dl.git
google-cloud-storage
oauth2client
utils
scipy